/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 .pg__grid-main {
    max-width: 100% !important;
}
.wp-block-create-block-post-grid {
	display: grid;
    gap: 20px;
	border: unset !important;
    max-width: 80% !important;
} 
.wp-block-create-block-post-grid .pg__post {
	border: 1px solid #e5e5e5;
	background: #fff;
	border-radius: 6px;
	background-color: #ffffff; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	border-radius: 8px; 

}
.wp-block-create-block-post-grid .pg__post-content {
	padding: 20px; 
}
.wp-block-create-block-post-grid .pg__post__thumb img {
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 4px;
}

.wp-block-create-block-post-grid .pg__post__title {
	margin: 0.6rem 0;
	font-size: 1rem;
	line-height: 1.3;
}

.wp-block-create-block-post-grid .pg__post__meta {
	color: #666;
	font-size: 0.85rem;
}
.wp-block-create-block-post-grid  .pg__button{
	padding: 10px 20px;
	border: none;
	display: inline-block;
    margin-top: 10px;
    text-decoration: unset;
}
.pg__post-pagination {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
}